@import url('http://fonts.googleapis.com/css?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap')

html,
body {
    font-family: 'Lekton', sans-serif;
    background-color: #333;
    color: whitesmoke;
}

.theme-container {
    max-width: 960px;
    margin: 0 auto;
}

a{
    color: #f53533;
    text-decoration: none;
}