// @import url('http://fonts.googleapis.com/css?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap')

@import url('http://fonts.googleapis.com/css?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap')

html,
body {
  // font-family: 'Lato', sans-serif;
  font-family: 'Lekton', sans-serif;
  background-color: #333;
  color: white;
}

.theme-container {
    
}
